body {
    margin: 0;
    padding: 0%;
    background-image: url("../images/background1.jpg");
    background-color: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    font-family: sans-serif;
    font-size: 1.2em;
}

h1 {
    font-family: Rockwell;
    font-weight: bolder;
    font-size: 4em;
    color: whitesmoke;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

a {
    text-decoration: dashed;
    color: cyan;
    font-size: 1em;
    font-weight: bolder;
}
a:hover {
    color: navy;
    font-weight: bolder;
}
table {
    border-collapse: collapse;
    text-align: center;
}
td {
    border: 1px solid silver;
    padding: 0.25em;
}

input {
    font-family: sans-serif;
    font-size: 1.2em;
}

ul {

}

li {
    list-style-image: url("../images/beans.png");
}
.page {
    width: 60%;
    margin: 0 auto;
}

.button {
    cursor: default;
    display: inline-block;
    background: #7e7ec2;
    background-image: -webkit-linear-gradient(top, #7e7ec2, #000053);
    background-image: -moz-linear-gradient(top, #7e7ec2, #000053);
    background-image: -ms-linear-gradient(top, #7e7ec2, #000053);
    background-image: -o-linear-gradient(top, #7e7ec2, #000053);
    background-image: linear-gradient(to bottom, #7e7ec2, #000053);
    border-radius: 3px;
    color: #f5f5f5;
    padding: 0.25em 1em;
    margin: 0.25em;
    text-align: center;
    text-decoration: none;
}

input.button {
    cursor: default;
    margin: 0;
    border: none;
    font-weight: bold;
    font-size: 1.0em;
}
input.button:hover {
    color: #000080;
}

.menu li {
    display: inline-block;
}

/**************** MOBILE ****************/

@media (max-width: 1100px) {
    .page { width: 95%;}
    h1 { font-size: 3.5em; }
    h2 { font-size: 2em; }
    h3 { font-size: 1.8em; }
    h4 { font-size: 1.6em; }
    h5 { font-size: 1.4em; }
    h6 { font-size: 1.2em; }
}